
<div class="card" style="width: 18rem;">
 <% product.each do |f|%>
  <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
  <div class="card-body">
    <h5 class="card-title"><%= f.name %></h5>
    <p class="card-text"><%= f.price %></p>
    <a href="#View_product"><%= link_to "viewproduct",product_path(f.id)%></a>
    <!-- <a href="#" class="btn btn-primary">Add To cart</a> -->
   
  </div>
  </div>
   <%end%>


