
  <% @categories.each do |f|%>
  <%=link_to "#{f.name}", product_by_category_category_path(f.id)%>
  <%end%>

<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item" data-bs-interval="2000">
      <img src="https://img.freepik.com/free-vector/household-appliances-realistic-composition_1284-65307.jpg?t=st=1652340225~exp=1652340825~hmac=13dc890807bb98829f1a66e404c8e877c594c9f5ac3df35c9bd56c85ef996fde&w=740" style="width: 25px;height: 370px;" class="d-block w-100" alt="...">
    </div>

    <div class="carousel-item active" data-bs-interval="10000">
      <img src="https://img.freepik.com/free-photo/brown-sofa-wooden-table-living-room-interior-with-plant-concrete-wall_41470-3721.jpg?t=st=1652344510~exp=1652345110~hmac=6da7ea0b60976c3d65250594a95df2203a37a42f9a5da55ef8d5955d366b199b&w=740" style="width: 25px;height: 370px;" class="d-block w-100" alt="...">
    </div>
    
    <div class="carousel-item">
      <img src="https://img.freepik.com/free-vector/set-different-home-appliances-kit-electric-house-equipment-collection-flat-horizontal-copy-space_48369-26076.jpg?w=826" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<%= render partial: "shared/product", locals: {product: @products}  %>
